{% extends 'base.html' %}
{% load bootstrap%}
{% load static %}

{% block title %} Seja Bem Vindo {% endblock %}

{% block main %}

<style>
	#darkcyantitle{
		color: darkcyan;

	}
	#user {
		alignment: right;
		color: purple;
	}

</style>


	    <div class=".col-md-2">
		    <h1 id="darkcyantitle">Gestão de clientes</h1>
			</div>


	    <div class="col-sm">
		    {% if user.is_authenticated %}
				<p align="right" class="user" id="user">User: {{ user.username }}</p>
		        <a  href="{% url 'logout' %}"  class="btn btn-secondary">Sair</a>
		        <a href="{% url 'time' %}"  class="btn btn-success">Get time</a>
		        <a href="{%url 'person_list'%}"  class="btn btn-info">Clientes</a>
		    {% else %}
		        <a href="{% url 'login' %}"  class="btn btn-info">Entrar</a>
		    {% endif %}



	</div>




{% block footer %}

	<footer class="footer">
		<div class="container">
			<span class="text-muted">Desenvolvimento web com Django by: Bernardo Vieira</span>
		</div>
	</footer>
{%endblock%}
{%endblock%}

{% block image%}

	<div class="text-center">
        <img src="{% static 'index.png' %}" class="rounded" alt="...">
	</div>
{%endblock%}

