{% extends 'base.html' %}
{% load static %}

{% block title %}

Clients List


{% endblock %}

{% block main %}

<style>
	#pesquisa {
		margin-top: 40px;
	}
	#pesquisabutton {
		margin-top: 30px;
	}
	#title {
		color:  darkcyan;
	}
	#trash-item {
		color: red;
	}
	#exit-item {
		color: red;
	}
	#user {
		color: purple;
	}
</style>

	<div class="col-6" align="center">
		<h4 align="center" class="title" id="title">Listagem de clientes</h4>
	</div>

	<div class="row" >
		<div class="col-12">
			<form class="form-inline" >

 				 <div class="form-group mx-sm-3 mb-2">
					 <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="Digite sua Busca">
  				</div>
  			<button type="submit" id="pesquisabutton" name="pesquisabutton" class="btn btn-success">Search</button>
			</form>




		</div>
	</div>




	{% if user.is_authenticated %}
		<div align="right">
		   <p id="user">User: {{ user.username }}</p>
        </div>
	{%endif%}
	<div>
		<table style="width:100%">
			<tr>
				<td><a href="{% url 'home' %}" class="btn btn-secondary">
					<i class="fas fa-home"></i>
				</a></td>
				<td>  </td>
				<td align="right"><a href="{%url   'logout' %}" id="exit-item">Sair
					<i class="fas fa-sign-out-alt"></i>
				</a></td>
			</tr>
		</table>
	</div>
	<ul>
		{% for person in persons %}

			<li class="list-group-item">
				<a href="{% url 'person_update' person.id%}"> {{ person.first_name }}</a>
				<a href="{% url 'person_delete' person.id%}" id="trash-item" class="trash-item">
					<i class="fas fa-trash"></i>
				</a>

			</li>

		{% endfor %}
	</ul>

	<br>

	<a href="{% url 'person_new' %}" id="btn" class="btn btn-info">New client
		<i class="fas fa-plus-circle"></i>
	</a>



{% block footer %}
	<footer class="footer">
		<div class="container">
			<span class="text-muted">Desenvolvimento web com Django by: Bernardo</span>
		</div>
	</footer>
{%endblock%}

{%endblock%}









